canvas.map {
  border: black 1px solid;
  margin: 5px;
  padding: 0px;
  float: left;
}
.terrainSelector {
  width: 80px;
  border: 1px solid black;
  margin: 1px;
  padding: 1px;
}
div.tileOperations {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  float: left;
  width: 400px;
}
