#container {
  width: 100%;
  position: relative;
}
#container canvas,
#tileOperations {
  position: absolute;
}

canvas {
  border: 1px solid black;
  margin: 5px;
  padding: 0px;
}
#tileOperations {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  right: 0px;
  width: 270px;
  height: 600px;
  background-color: white;
}
