<canvas #canvas width="900" height="600" class="map" (click)="onCanvasMouseClick($event)" (contextmenu)="onCanvasRightClick($event)"
  (mousedown)="onCanvasMouseDown($event)" (mouseup)="onCanvasMouseUp($event)" (mousemove)="onCanvasMouseMove($event)"
  (mousewheel)="onCanvasMouseWheel($event)">

</canvas>
<div class="tileOperations">
  <div>
    <app-tile-info [selectedTile]="selectedTile" [viewOnly]="viewOnlyForSelectedTile"></app-tile-info>
  </div>
  <hr />
  <button class="btn btn-primary" (click)="saveMap()" [disabled]="!mapIsModified">Save map</button>
  | New tile terrain:
  <app-value-selector [viewOnly]="viewOnly" [(selectedValue)]="defaultTerrain"
    (selectedValueChange)="onDeffaultTerrainSelectionChange($event)" valuesType="terrain"></app-value-selector>
  <hr />
  <button (click)="addHex()">Add Hex</button>

  <button (click)="loadTestMap()">Load Test Map (Id=1)</button>

  <button (click)="testPostRequest()">Test Post Request</button>

  <h1>Action {{ canvasAction }}</h1>
  <h2>Animate time: {{animationTime}} ms</h2>
  <p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
  </p>
</div>