<mat-radio-group [(ngModel)]="editMapId">
  <table border="1">
    <thead>
      <th>Map Name</th>
      <th>Owner</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let mapDescription of mapDescriptions">
        <td>{{mapDescription.mapName}}</td>
        <td>{{mapDescription.ownerNick}}</td>
        <td>
          <button mat-button (click)="loadMap(mapDescription.mapId)">View Map</button>
          &middot;
          <mat-radio-button (change)="editMapChange($event)" [disabled]="mapDescription.ownerId!=1" [value]="mapDescription.mapId">Edit Map
          </mat-radio-button>
          &middot;
          <button mat-button [disabled]="true">Start Game</button>
        </td>
      </tr>
    </tbody>
  </table>
</mat-radio-group>
<app-hex (mapNameChanged)="onMapNameChange($event)"></app-hex>